#About {
	.bg-img {
		background-size: cover;
		background-position: 66% 0%;
	}
	.masthead {
		margin-top: @gutter*3;
		.contributor {
			margin-bottom: @gutter*3;
			.title {
				margin-bottom: @gutter/2;
			}
		}
		.sub-contributors {
			margin: @gutter*3 0;
			.flexbox();
			.flex-flow(row);
			.flex-wrap(wrap);
			.justify-content(center);
			.contributor-column {
			}
			.contributor {
				margin: @gutter;
			}
		}
	}
}

@media @desktop {
	#About {
		.bg-img {
			background-position: 50% 0%;
		}
		.masthead {
			.sub-contributors {
				.contributor-column {
					.flex(1);
				}
			}
		}
	}
}