@article_item_width: 250px;

#ArticleList {
	.page {
		.justify-content(flex-start);
	}
	.blog-list {
		.justify-content(flex-start);
		.align-items(center);
		.flex-wrap(wrap);
		max-width: calc(100vw ~'-' @gutter*2);
		margin: 0 auto;
	}
	.blog-list-item {
		position: relative;
		width: @article_item_width;
		height: @article_item_width;
		max-width: calc(100vw ~'-' @gutter*2);
		margin-left: auto;
		margin-right: auto;
		margin: @gutter;

		.blog-overlay-text, .blog-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.blog-overlay-text {
			background-color: @black;
			color: @white;

			.flexbox();
			.flex-flow(column);
			.align-items(center);
			.justify-content(center);
		}
	}
	.blog-sub-text {
		width: @article_item_width;
		margin: 0 auto;
		display: block;
	}
	@media @desktop {
		.blog-list {
			.align-items(flex-start);
			.justify-content(center);
		}
		/* mobile only */
		.blog-sub-text {
			display: none;
		}
	}
}

#Article {
	.page {
		padding-top: 0;
		article a {
			border-bottom: 1px solid @black;
		}
	}
	article {
		.page-hero {
			.overlay {
				.title {
					margin-top: @gutter*3;
					margin-bottom: @gutter;
				}
				.excerpt {
					margin-bottom: @gutter;
				}
				.hero-video {
					margin-bottom: @gutter;
				}
				.hero-cta-copy {
					margin-top: @gutter*2;
				}
				// default black text/svgs
				color: @black;
				svg {
					* { fill: @black; }
				}
				&.white {
					color: @white;
					svg {
						* { fill: @white; }
					}
				}
				&.black {
					color: @black;
					svg {
						* { fill: @black; }
					}
				}
			}
		}
		.article-intro {
			margin: @gutter*4 auto;
		}
		.article-body {
			text-align: left;
			.html-block {
				p {
					margin-bottom: @gutter*2;
				}
			}
			.gallery-block, .video-block, .image-block {
				margin-bottom: @gutter*2;
			}
		}
		.credits {
			margin-bottom: @gutter*4;
			width: 100%;
			.align-items(flex-start);
			text-align: left;
			.credit-title {

			}
			.credit-tag {
				margin-right: @gutter;
			}
		}
	}
}

nav.pagination {
	.prev-item, .next-item {
		.thumb {
			margin-top: @gutter/2;
		}
	}
	.prev-item {
		float: left;
		.pagination-container {
			text-align: left;
		}
		.thumb {
			float: left;
		}
	}
	.next-item {
		float: right;
		.pagination-container {
			text-align: right;
		}
		.thumb {
			float: right;
		}
	}
	.pagination-container {
		float: left;
		.thumb {
			height: 75px;
			width: 75px;
		}
	}
}