#ArticleList {
	.blog-list {
		.justify-content(center);
		.align-items(center);
		.flex-wrap(wrap);
		max-width: calc(100vw ~'-' @gutter*2);
		margin: 0 auto;
	}
	.blog-list-item {
		position: relative;
		width: 250px;
		height: 250px;
		max-width: calc(100vw ~'-' @gutter*2);
		margin-left: auto;
		margin-right: auto;
		margin: @gutter;

		.blog-overlay-text, .blog-img {
			.transition(opacity .5s ease-in-out);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.blog-overlay-text {
			background-color: @black;
			color: @white;

			.flexbox();
			.flex-flow(column);
			.align-items(center);
			.justify-content(center);

			#Subject {
				margin: @gutter auto;
			}
		}
		.blog-sub-text {
			opacity: 1;
		}
	}
	@media @desktop {
		.blog-list {
			.align-items(flex-start);
		}
		/* mobile only */
		.blog-sub-text {
			opacity: 0;
		}
	}
}

#Article {
	article {
		.article-intro {
			margin: @gutter*4 auto;
		}
		.article-body {
			.sqs-block {
				p {
					margin-bottom: @gutter*4;
				}
			}
			.gallery-block, .video-block {
				margin-bottom: @gutter*4;
			}
		}
		.credits {
			margin-bottom: @gutter*4;
			width: 100%;
			.align-items(flex-start);
			text-align: left;
			.credit-title {

			}
			.credit-tag {
				margin-right: @gutter;
			}
		}
	}
}

nav.pagination {
	.prev-item, .next-item {
	}
	.prev-item {
		float: left;
		.pagination-container {
			text-align: left;
		}
		.thumb {
			float: left;
		}
	}
	.next-item {
		float: right;
		.pagination-container {
			text-align: right;
		}
		.thumb {
			float: right;
		}
	}
	.pagination-container {
		float: left;
		.thumb {
			height: 75px;
			width: 75px;
		}
	}
}