.header {
	position: fixed;
	height: @header_height;
	width: 100%;
	background: grey;
	.flexbox();
	.flex-flow(row);
	.justify-content(space-between);
	.main-nav {
		.flexbox();
		.flex-flow(row);
	}
}