.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: @black;
	color: @white;
	.flexbox();
	.flex-flow(column);
	.justify-content(center);
	.align-items(center);

	svg.logo {
		path {
			fill: @white;
		}
	}

	nav {
		width: 100%;
		.flexbox();
		.flex-flow(column);
		.justify-content(center);
		.align-items(center);
		text-align: center;
		.logo-nav, .main-nav, .cart-nav {
			margin-bottom: @gutter;
			li {
				a {color: @white;}
			}
		}
	}
}
@media @desktop {
	.header {
		height: @header_height;
		background: @white;
		color: @black;
		.flex-flow(row);

		svg.logo {
			path {
				fill: @black;
			}
		}

		nav {
			width: calc(100vw ~'-' @gutter*2);
			margin-left: auto;
			margin-right: auto;
			.flex-flow(row);
			.justify-content(space-between);
			.logo-nav, .main-nav, .cart-nav {
				margin-bottom: 0;
				li {
					float: left;
					margin-right: @gutter;
					&:last-child {
						margin-right: 0;
					}
					a {color: @black;}
				}
			}
		}
	}
}