#Home {
	#CurrentIssue {
		margin-top: @gutter;
		.vertical-border {
			display: none;
		}
		.half-span {
			&#CurrentIssueImgContainer {
				margin-bottom: 150px;
			}
		}
		#IssueNo {
			margin-bottom: @gutter/2;
		}
		#IssueSeason {
			margin-bottom: @gutter;
		}
		.featuring-container {
			margin: @gutter*2 0;
		}
		.magazine#CurrentIssueImg {
			.box-shadow(~"-10px 10px 5px rgba(0,0,0,0.2)");
			margin-bottom: @gutter*3;
		}
		.featuring-list {
			margin-top: @gutter/2;
			li {
				float: left;
				margin-right: @gutter;
			}
		}
	}
	#Events {
		margin-top: @gutter*4;
		text-align: left;

		.event-block {
			margin-bottom: @gutter;
			display: block;
		}
		.event-title {
			margin-left: @gutter;
			margin-right: @gutter;
			padding-bottom: @gutter;
			margin-bottom: @gutter;
			border-bottom: 1px solid @black;
		}
		.event-img, .event-copy, .event-link {
			width: 400px;
			max-width: calc(100vw ~'-' @gutter*2);
			margin-left: auto;
			margin-right: auto;
		}
		.event-img {
			height: 250px;
		}
		.event-link {
			text-align: right;
		}
	}
	#Bespoken {
		padding-top: @gutter*2;
		#BespokenTitle {
			margin-bottom: @gutter*2;
		}
		.link-border {
			margin-top: @gutter*2;
		}
		#BespokenThumbImg {
			margin-top: @gutter*2;
			margin-bottom: @gutter*2;
		}
		#BespokenMainImg {
			height: 100vh;
		}
	}
	#Articles {
		.half-span {
			margin: @gutter 0;
		}
	}
}
@media @desktop {
	#Home {
		#CurrentIssue {
			margin-top: 0;
			height: calc(100vh ~'-' @header_height);
			.vertical-border {
				border-right: 1px solid @black;
				height: 100px;
				position: absolute;
				left: 50vw;
				bottom: @gutter*2;
			}
			.half-span {
				&#CurrentIssueImgContainer {
					margin-bottom: 0;
				}
			}
			.magazine-container {
				width: 60%;
			}
			.magazine#CurrentIssueImg {
				margin-bottom: 0;
			}
		}
		#Events {
			max-width: 850px;
			margin-left: auto;
			margin-right: auto;
			.event-block-container {
				.flexbox();
				.flex-flow(row);
				.justify-content(space-between);
			}
			.event-block {
				margin-bottom: 0;
			}
			.event-title {
				margin-left: 0;
				margin-right: 0;
			}
			.event-img, .event-copy, .event-link {
				margin-left: 0;
			}
		}
		#Bespoken {
			padding-top: 0;
		}
		#Articles {
			max-width: 1000px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}