/* modals */
.open-modal {
	cursor: pointer;
}
.modal-dialog {
	position: fixed;
	overflow-y: scroll;
	padding: @gutter 0;
	z-index: -10;
	top: 0;
	left: 0;
	min-height: 100vh;
	height: 100%;
	width: 100vw;
	background: @black;
	color: @white;
	opacity: 0;
	.transition(opacity 200ms ease-in-out);
	&.open {
		z-index: 10;
		opacity: 1;
	}
	.link-border {
		&:before {
			border-color: @white;
		}
	}
	.close-modal {
		cursor: pointer;
		position: fixed;
		top: @gutter;
		right: @gutter;
	}
	.modal-content {
		padding: @gutter*5 0;
		.flexbox();
		.flex-flow(column);
		.justify-content(center);
		.align-items(center);
		.title {
			margin-bottom: @gutter;
		}
		&.magazine-modal {
			.magazine-container {
				width: 300px;
				max-width: calc(100vw ~'-' @gutter);
				margin-bottom: @gutter;
			}
			.magazine-copy {
				text-align: left;
				margin-bottom: @gutter*2;
				.title {
					margin-bottom: @gutter/2;
				}
				#InThisIssue {
					margin-top: @gutter*2;
				}
			}
			.also-included {
				.also-included-container {
					margin: @gutter/2 0;
				}
			}
		}
		&.contact-modal {
			.social-contact-row {
				margin-top: @gutter;
				svg {
					width: 40px;
					height: 40px;
					margin: 0 @gutter/2;
					* {
						fill: @white;
					}
				}
			}
		}
	}
}
@media @desktop {
	.modal-dialog {
		.modal-content {
			margin-top: @header_height;
			&.magazine-modal {
				.magazine-image, .magazine-copy {
					width: 50%;
				}
				.magazine-container {
					margin-left: 0;
				}
				.also-included {
					.also-included-container {
						text-align: center;
						width: 30%;
						margin: 0 @gutter/2;
					}
				}
			}
		}
	}
}