/* modals */
.open-modal {
	cursor: pointer;
}
.modal-dialog {
	position: fixed;
	overflow-y: scroll;
	padding: @gutter 0;
	z-index: -10;
	top: 0;
	left: 0;
	min-height: 100vh;
	height: 100%;
	width: 100vw;
	background: @black;
	color: @white;
	opacity: 0;
	.transition(opacity 200ms ease-in-out);
	&.open {
		z-index: 10;
		opacity: 1;
	}
	.close-modal {
		cursor: pointer;
		position: absolute;
		top: @gutter;
		right: @gutter;
	}
	.modal-content {
		margin-top: @header_height;
		.flexbox();
		.flex-flow(column);
		.justify-content(center);
		.align-items(center);
		.title {
			margin-bottom: @gutter;
		}
		&.magazine-modal {
			.magazine-container {
				width: 300px;
				max-width: calc(100vw ~'-' @gutter);
				margin-bottom: @gutter;
			}
			.magazine-copy {
				text-align: left;
			}
			.also-included {
				.also-included-container {
					margin: @gutter/2 0;
				}
			}
		}
	}
}
@media @desktop {
	.modal-dialog {
		.modal-content {
			&.magazine-modal {
				.magazine-image, .magazine-copy {
					width: 50%;
					border: 1px dashed red;
				}
				.magazine-container {
					margin-left: 0;
					margin-bottom: 0;
				}
				.also-included {
					.also-included-container {
						text-align: center;
						width: 30%;
						margin: 0 @gutter/2;
					}
				}
			}
		}
	}
}