@font-face {
	font-family: 'gascognets-xlightregular';
	src: url('/assets/gascognets-xlight-webfont.woff2') format('woff2'),
	url('/assets/gascognets-xlight-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'gascognets-xlightregular', serif;
	font-style: 12px;
	line-height: 1.4;
}

@header_four: 1.414em;

h1 {
	font-size: 3.998em;
}
h2 {
	font-size: 2.827em;
}
h3 {
	font-size: 1.999em;
}
h4 {
	font-size: @header_four;	
}
h5 {
	font-size: 1.2em;
}
p {
	font-size: 1em;
	&.small {
		font-size: 0.8em;
	}
}
.subject-title {
	margin: @gutter auto;
}

.uppercase {
	text-transform: uppercase;
}

/* superscript (to the power of text, etc.) */
.superscript {
	vertical-align: super;
	display: inline-block;
	font-size: 0.25em;
}

.uppercase {
	text-transform: uppercase;
}

.link-border {
	cursor: pointer;
	position: relative;
	padding-bottom: @gutter/2;
	display: inline-block;
	&:before {
		.transition(all 250ms ease);
		content : "";
		position: absolute;
		left    : 25%;
		bottom  : 0;
		height  : 1px;
		width   : 50%;
		border-bottom:1px solid @black;
	}
	&:hover {
		&:before {
			left: 0;
			width: 100%;
		}
	}
}
.link-border.left {
	&:before {
		left: 0;
	}
}
.link-border.invisible {
	&:before {
		opacity: 0;
	}
	&:hover {
		&:before {
			opacity: 1;
		}
	}
}